<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/*******************************************************************************
 * Copyright (c) 2014 Oracle
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v2.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *******************************************************************************/
 -->

<plugin>

    <extension point="org.eclipse.wst.server.core.serverTypes">
        <serverType
             id="payara.server"
             class="org.eclipse.payara.tools.server.PayaraServer"
             behaviourClass="org.eclipse.payara.tools.server.deploying.PayaraServerBehaviour"
             name="%serverTypeNameglassfish"
             description="%serverTypeDescriptionPayara"
             hasConfiguration="false"
             launchConfigId="org.payara.jst.server.GlassfishServerLaunchConfigurationType"
             launchModes="run,debug"
             runtime="true"
             runtimeTypeId="payara.runtime"
             startBeforePublish="true"
             supportsRemoteHosts="true">
       </serverType>
    </extension>
    
    <extension point="org.eclipse.wst.server.core.runtimeTypes">
        <runtimeType
             id="payara.runtime"
             class="org.eclipse.payara.tools.server.PayaraRuntime"
             name="%runtimeTypeNameglassfish"
             description="%runtimeTypeDescriptionglassfish"
             vendor="%runtimeTypeGlassFishVendor">
            <moduleType types="jst.web" versions="2.2, 2.3, 2.4, 2.5, 3.0, 3.1, 4.0"/>
            <moduleType types="jst.ejb" versions="1.1, 2.0, 2.1, 3.0, 3.1, 3.2"/>
            <moduleType types="jst.connector" versions="1.0, 1.5, 1.6, 1.7"/>
            <moduleType types="jst.ear" versions="1.2, 1.3, 1.4, 5.0, 6.0, 7.0, 8.0"/>
            <moduleType types="jst.utility"  versions="1.0"/>
            <moduleType types="jst.appclient" versions="1.2, 1.3, 1.4, 5.0, 6.0, 7.0, 8.0"/>
       </runtimeType>
    </extension>
    
    <extension point="org.eclipse.wst.server.core.launchableAdapters">
      <launchableAdapter
            id="org.payara.launchableAdapter"
            class="org.eclipse.payara.tools.server.archives.EclipseToPayaraArchiveConverter"
            priority="999"
            typeIds="payara.server"/>
    </extension>
    
    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
            id="org.payara.jst.server.GlassfishServerLaunchConfigurationType"
            name="%glassfish.runConfigurationName"
            delegate="org.eclipse.payara.tools.server.starting.PayaraServerLaunchDelegate"
            modes="run, debug"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jst.server.generic.core.sourcePathComputer"/>
    </extension> 
    
    <extension-point id="runtimeComponentProviders" 
        name="%runtimeComponentProvidersExtensionPoint" 
        schema="schema/runtimeComponentProviders.exsd"
    />
    
    

    <!--
        System Libraries
     -->

    <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
        <classpathContainerInitializer
          id="org.eclipse.payara.tools.lib.system"
          class="org.eclipse.payara.tools.internal.SystemLibrariesContainer$Initializer"/>
    </extension>
  
    <extension point="org.eclipse.jst.j2ee.classpathdep">
        <filteredClasspathContainer containerID="org.eclipse.payara.tools.lib.system"/>
    </extension>
    
  
  
    <!--
        WST Facets
    -->

    <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    
        <runtime-component-type id="payara.runtime"/>

        <runtime-component-version type="payara.runtime" version="3.1"/>
        <runtime-component-version type="payara.runtime" version="4"/>
        <runtime-component-version type="payara.runtime" version="5"/>
        
        <supported>
            <runtime-component id="payara.runtime" version="3.1"/>
            <facet id="glassfish.web" version="3.1"/>
            <facet id="glassfish.ejb" version="3.1"/>
            <facet id="jst.web" version="3.0]"/>
            <facet id="jst.ejb" version="3.1]"/>
            <facet id="jst.ear" version="6.0]"/>
            <facet id="jst.connector" version="1.6]"/>
            <facet id="jst.appclient" version="6.0]"/>
            <facet id="jst.utility" version="1.0"/> 
            <facet id="jst.webfragment" version="3.0" />
        </supported>
        
        <supported>
            <runtime-component id="payara.runtime" version="4"/>
            <facet id="glassfish.web" version="4.0]"/>
            <facet id="glassfish.ejb" version="4.0]"/>
            <facet id="jst.web" version="3.1]"/>
            <facet id="jst.ejb" version="3.2]"/>
            <facet id="jst.ear" version="7.0]"/>
            <facet id="jst.connector" version="1.6]"/>
            <facet id="jst.appclient" version="7.0]"/>
            <facet id="jst.utility" version="1.0"/> 
            <facet id="jst.webfragment" version="3.1]" />
        </supported>
        
        <supported>
            <runtime-component id="payara.runtime" version="5"/>
            <facet id="glassfish.web" version="5]"/>
            <facet id="glassfish.ejb" version="5]"/>
            <facet id="jst.web" version="4.0]"/>
            <facet id="jst.ejb" version="3.2]"/>
            <facet id="jst.ear" version="8.0]"/>
            <facet id="jst.connector" version="1.7]"/>
            <facet id="jst.appclient" version="8.0]"/>
            <facet id="jst.utility" version="1.0"/> 
            <facet id="jst.webfragment" version="4.0]" />
        </supported>
    </extension>
    
    <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
        <adapter>
          <runtime-component id="payara.runtime"/>
          <factory class="org.eclipse.payara.tools.internal.PayaraClasspathProvider$Factory"/>
          <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
        </adapter>
    </extension>
    
    <extension point="org.eclipse.wst.common.project.facet.core.facets">
        <project-facet id="glassfish.web">
            <label>%glassfish.web.facet</label>
            <description>%glassfish.web.facet.description</description>
        </project-facet>
        
        <project-facet id="glassfish.ejb">
            <label>%glassfish.ejb.facet</label>
            <description>%glassfish.ejb.facet.description</description>
        </project-facet>
        
        <project-facet-version facet="glassfish.web" version="3.1">
            <action type="INSTALL">
                <delegate class="org.eclipse.payara.tools.facets.GlassfishWebFacetInstallDelegate"/>
            </action>
            <action  type="UNINSTALL">
                <delegate class="org.eclipse.payara.tools.facets.GlassfishWebFacetUninstallDelegate"/>
            </action>   
            <constraint>
                <requires facet="jst.web"/>
            </constraint>
        </project-facet-version>
        
        <project-facet-version facet="glassfish.web" version="4.0">
            <action type="INSTALL">
                <delegate class="org.eclipse.payara.tools.facets.GlassfishWebFacetInstallDelegate"/>
            </action>
            <action  type="UNINSTALL">
                <delegate class="org.eclipse.payara.tools.facets.GlassfishWebFacetUninstallDelegate"/>
            </action>   
            <constraint>
                <requires facet="jst.web"/>
            </constraint>
        </project-facet-version>
        
        <project-facet-version facet="glassfish.web" version="5">
            <action type="INSTALL">
                <delegate class="org.eclipse.payara.tools.facets.GlassfishWebFacetInstallDelegate"/>
            </action>
            <action  type="UNINSTALL">
                <delegate class="org.eclipse.payara.tools.facets.GlassfishWebFacetUninstallDelegate"/>
            </action>   
            <constraint>
                <requires facet="jst.web"/>
            </constraint>
        </project-facet-version>
        
        <project-facet-version facet="glassfish.ejb" version="3.1">
            <action type="INSTALL">
                <delegate class="org.eclipse.payara.tools.facets.GlassfishEjbFacetInstallDelegate"/>
            </action>
            <action  type="UNINSTALL">
                <delegate class="org.eclipse.payara.tools.facets.GlassfishEjbFacetUninstallDelegate"/>
            </action>   
            <constraint>
                <requires facet="jst.ejb"/>
            </constraint>
        </project-facet-version>
        
        <project-facet-version facet="glassfish.ejb" version="4.0">
            <action type="INSTALL">
                <delegate class="org.eclipse.payara.tools.facets.GlassfishEjbFacetInstallDelegate"/>
            </action>
            <action type="UNINSTALL">
                <delegate class="org.eclipse.payara.tools.facets.GlassfishEjbFacetUninstallDelegate"/>
            </action>   
            <constraint>
                <requires facet="jst.ejb"/>
            </constraint>
        </project-facet-version>
        
        <project-facet-version facet="glassfish.ejb" version="5">
            <action type="INSTALL">
                <delegate class="org.eclipse.payara.tools.facets.GlassfishEjbFacetInstallDelegate"/>
            </action>
            <action type="UNINSTALL">
                <delegate class="org.eclipse.payara.tools.facets.GlassfishEjbFacetUninstallDelegate"/>
            </action>   
            <constraint>
                <requires facet="jst.ejb"/>
            </constraint>
        </project-facet-version>
    </extension>
    
    <extension point="org.eclipse.wst.common.project.facet.core.defaultFacets">
        <default-facets>
            <context>
                <runtime-component id="payara.runtime" version="3.1"/>
                <fixed-facet id="jst.web"/>
            </context>
            <facet id="glassfish.web" version="3.1" />
        </default-facets>        

        <default-facets>
            <context>
                <runtime-component id="payara.runtime" version="3.1"/>
                <fixed-facet id="jst.ejb"/>
            </context>
            <facet id="glassfish.ejb" version="3.1" />
        </default-facets>        
        
        <default-facets>
            <context>
                <runtime-component id="payara.runtime" version="4"/>
                <fixed-facet id="jst.web"/>
            </context>
            <facet id="glassfish.web" version="4.0" />
        </default-facets>        

        <default-facets>
            <context>
                <runtime-component id="payara.runtime" version="4"/>
                <fixed-facet id="jst.ejb"/>
            </context>
            <facet id="glassfish.ejb" version="4.0" />
        </default-facets>        
        
        <default-facets>
            <context>
                <runtime-component id="payara.runtime" version="5"/>
                <fixed-facet id="jst.web"/>
            </context>
            <facet id="glassfish.web" version="5" />
        </default-facets>        

        <default-facets>
            <context>
                <runtime-component id="payara.runtime" version="5"/>
                <fixed-facet id="jst.ejb"/>
            </context>
            <facet id="glassfish.ejb" version="5" />
        </default-facets>        
    </extension>
    
    <extension point="org.eclipse.wst.common.project.facet.core.runtimeBridges">    
        <bridge
            id="org.eclipse.payara.tools.bridge"
            class="org.eclipse.payara.tools.internal.PayaraRuntimeBridge"/>
    </extension>
  
  
  
  
     <!--
        JST Facets
     -->
     
    <extension point="org.eclipse.jst.common.project.facet.core.libraryProviders">
        <provider id="GlassFish-4-SystemLibrary-JSF" extends="no-op-library-provider">
          <label>%GF4.SystemLibrary.JSF.Label</label>
          <priority>1000</priority>
          <param name="message" value="%GF4.SystemLibrary.JSF.Message"/>
          <enablement>
            <with variable="requestingProjectFacet">
              <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.jsf" forcePluginActivation="true"/>
            </with>
            <with variable="targetedRuntimes">
              <count value="+"/>
              <iterate operator="and">
                <test property="org.eclipse.payara.tools.internal.containsRuntimeComponentType" value="payara.runtime:4,5" forcePluginActivation="true"/>
              </iterate>
            </with>     
          </enablement>
        </provider>
    </extension>
    
    <extension point="org.eclipse.jst.common.project.facet.core.libraryProviders">
        <provider id="GlassFish-4-SystemLibrary-JPA" extends="no-op-library-provider">
          <label>%GF4.SystemLibrary.JPA.Label</label>
          <priority>1000</priority>
          <param name="message" value="%GF4.SystemLibrary.JPA.Message"/>
          <enablement>
            <with variable="requestingProjectFacet">
              <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jpt.jpa" forcePluginActivation="true"/>
            </with>
            <with variable="targetedRuntimes">
              <count value="+"/>
              <iterate operator="and">
                <test property="org.eclipse.payara.tools.internal.containsRuntimeComponentType" value="payara.runtime:4,5" forcePluginActivation="true"/>
              </iterate>
            </with>     
          </enablement>
        </provider>
    </extension>
  
    <extension point="org.eclipse.jst.common.project.facet.core.libraryProviders">
        <provider id="GlassFish-3.1-SystemLibrary-JSF" extends="no-op-library-provider">
            <label>%GF31.SystemLibrary.JSF.Label</label>
            <priority>1000</priority>
            <param name="message" value="%GF31.SystemLibrary.JSF.Message"/>
            <enablement>
              <with variable="requestingProjectFacet">
                  <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.jsf" forcePluginActivation="true"/>
              </with>
    	          <with variable="targetedRuntimes">
    	              <count value="+"/>
    	              <iterate operator="and">
                      <test property="org.eclipse.payara.tools.internal.containsRuntimeComponentType" value="payara.runtime:3.1" forcePluginActivation="true"/>
    	              </iterate>
    	            </with>     
            </enablement>
        </provider>
    </extension>

    <extension point="org.eclipse.jst.common.project.facet.core.libraryProviders">
        <provider id="GlassFish-3.1-SystemLibrary-JPA" extends="no-op-library-provider">
          <label>%GF31.SystemLibrary.JPA.Label</label>
          <priority>1000</priority>
          <param name="message" value="%GF31.SystemLibrary.JPA.Message"/>
          <enablement>
            <with variable="requestingProjectFacet">
              <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jpt.jpa" forcePluginActivation="true"/>
            </with>
    	    <with variable="targetedRuntimes">
    	      <count value="+"/>
    	      <iterate operator="and">
                <test property="org.eclipse.payara.tools.internal.containsRuntimeComponentType" value="payara.runtime:3.1" forcePluginActivation="true"/>
    	      </iterate>
    	    </with>     
          </enablement>
        </provider>
    </extension>
    
    <extension point="org.eclipse.jst.common.project.facet.core.libraryProviders">
        <provider id="org.eclipse.payara.tools.jaxrsLibraryproviderID">
            <label>JAX-RS GlassFish Library</label>
            <priority>10000</priority>
            <enablement>
                <with variable="requestingProjectFacet">
                    <test
                property="org.eclipse.wst.common.project.facet.core.projectFacet"
                value="jst.jaxrs:1.1" forcePluginActivation="true"/>
                </with>
                <with variable="projectFacets">
                    <count value="+"/>
                    <iterate operator="or">
                        <test
                     property="org.eclipse.wst.common.project.facet.core.projectFacet"
                     value="jst.web:[3.0" forcePluginActivation="true"/>
                    </iterate>
                </with>        
                <with variable="targetedRuntimes">
                    <count value="+"/>
                    <iterate operator="and">
                        <test property="org.eclipse.payara.tools.internal.containsRuntimeComponentType" value="payara.runtime:[3.1" forcePluginActivation="true"/>
                    </iterate>
                </with>     
            </enablement>
            <action type="INSTALL">
                <operation class="org.eclipse.payara.tools.internal.InstallJAXRS"/>
            </action>
            <action type="UNINSTALL">
                <operation class="org.eclipse.payara.tools.internal.InstallJAXRS"/>
            </action>
        </provider>
    </extension>
    
    <extension point="org.eclipse.jst.ws.jaxrs.core.jaxrsLibraryProvider" id="MyJAXRSLibraryProvider" >
        <jaxrsLibraryprovider
                libraryProviderID="org.eclipse.payara.tools.jaxrsLibraryproviderID" 
                showUpdateDD="true"
            updateDDSelected="true" 
            sevletClassName="com.sun.jersey.spi.container.servlet.ServletContainer"/>
    </extension>
    
    
    
    
     <!--
        DTDs
     -->

    <extension point = "org.eclipse.wst.xml.core.catalogContributions">
        <catalogContribution id="default">
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Sun ONE Application Server 7.0 J2EE Application 1.3//EN"
                    uri="dtds/sun-application_1_3-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application_1_3-0.dtd" />
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Sun ONE Application Server 8.0 J2EE Application 1.4//EN"
                    uri="dtds/sun-application_1_4-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application_1_4-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 8.0 J2EE Application 1.4//EN"
                    uri="dtds/sun-application_1_4-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application_1_4-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 8.1 J2EE Application 1.4//EN"
                    uri="dtds/sun-application_1_4-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application_1_4-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 9.0 Java EE Application 5.0//EN"
                    uri="dtds/sun-application_5_0-0.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application_5_0-0.dtd" />
            
            <public publicId="-//Sun Microsystems, Inc.//DTD GlassFish Application Server 3.0 Java EE Application 6.0//EN"
                    uri="dtds/sun-application_6_0-0.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application_6_0-0.dtd" />

            
            <public publicId="-//Sun Microsystems, Inc.//DTD Sun ONE Application Server 7.0 EJB 2.0//EN"
                    uri="dtds/sun-ejb-jar_2_0-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-ejb-jar_2_0-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Sun ONE Application Server 8.0 EJB 2.1//EN"
                    uri="dtds/sun-ejb-jar_2_1-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-ejb-jar_2_1-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 8.0 EJB 2.1//EN"
                    uri="dtds/sun-ejb-jar_2_1-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-ejb-jar_2_1-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 8.1 EJB 2.1//EN"
                    uri="dtds/sun-ejb-jar_2_1-1.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-ejb-jar_2_1-1.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 9.0 EJB 3.0//EN"
                    uri="dtds/sun-ejb-jar_3_0-0.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-ejb-jar_3_0-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 9.1.1 EJB 3.0//EN"
                    uri="dtds/sun-ejb-jar_3_0-1.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-ejb-jar_3_0-1.dtd" /> 
 
            <public publicId="-//Sun Microsystems, Inc.//DTD GlassFish Application Server 3.0 EJB 3.1//EN"
                    uri="dtds/sun-ejb-jar_3_1-0.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-ejb-jar_3_1-0.dtd" />


            
            <public publicId="-//Sun Microsystems, Inc.//DTD Sun ONE Application Server 7.0 Application Client 1.3//EN"
                    uri="dtds/sun-application-client_1_3-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application-client_1_3-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Sun ONE Application Server 8.0 Application Client 1.4//EN"
                    uri="dtds/sun-application-client_1_4-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application-client_1_4-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 8.0 Application Client 1.4//EN" 
                    uri="dtds/sun-application-client_1_4-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application-client_1_4-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 8.1 Application Client 1.4//EN"
                    uri="dtds/sun-application-client_1_4-1.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application-client_1_4-1.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 9.0 Application Client 5.0//EN" 
                    uri="dtds/sun-application-client_5_0-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application-client_5_0-0.dtd" />

            <public publicId="-//Sun Microsystems, Inc.//DTD GlassFish Application Server 3.0 Application Client 6.0//EN"
                    uri="dtds/sun-application-client_6_0-0.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application-client_6_0-0.dtd" />

            
            <public publicId="-//Sun Microsystems, Inc.//DTD Sun ONE Application Server 7.0 Connector 1.0//EN" 
                    uri="dtds/sun-connector_1_0-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-connector_1_0-0.dtd" />
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 9.0 Connector 1.5//EN" 
                    uri="dtds/sun-connector_1_5-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-connector_1_5-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Sun ONE Application Server 7.0 Servlet 2.3//EN"
                    uri="dtds/sun-web-app_2_3-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-web-app_2_3-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Sun ONE Application Server 8.0 Servlet 2.4//EN" 
                    uri="dtds/sun-web-app_2_4-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-web-app_2_4-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 8.0 Servlet 2.4//EN"
                    uri="dtds/sun-web-app_2_4-0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-web-app_2_4-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Sun ONE Web Server 6.1 Servlet 2.3//EN"
                    uri="dtds/sun-web-app_2_3-1.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-web-app_2_3-1.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 8.1 Servlet 2.4//EN"
                    uri="dtds/sun-web-app_2_4-1.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-web-app_2_4-1.dtd" />
            

            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 9.0 Servlet 2.5//EN"
                    uri="dtds/sun-web-app_2_5-0.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-web-app_2_5-0.dtd" />

            <public publicId="-//Sun Microsystems, Inc.//DTD GlassFish Application Server 3.0 Servlet 3.0//EN"
                    uri="dtds/sun-web-app_3_0-0.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-web-app_3_0-0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Sun ONE Application Server 7.0 Application Client Container 1.0//EN" 
                    uri="dtds/sun-application-client-container_1_0.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application-client-container_1_0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Sun ONE Application Server 7.0 OR Mapping //EN" 
                    uri="dtds/sun-cmp-mapping_1_0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-cmp-mapping_1_0.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 8.0 OR Mapping//EN" 
                    uri="dtds/sun-cmp-mapping_1_1.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-cmp-mapping_1_1.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 8.1 OR Mapping//EN"
                    uri="dtds/sun-cmp-mapping_1_2.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-cmp-mapping_1_2.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 8.0 Domain//EN"
                    uri="dtds/sun-domain_1_0.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-domain_1_0.dtd" />
            
            
            <public publicId="-//Sun Microsystems Inc.//DTD Application Server 8.0 Application Client Container//EN" 
                    uri="dtds/sun-application-client-container_1_2.dtd" 
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application-client-container_1_2.dtd" />
            
            
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 8.1 Application Client Container //EN" 
                    uri="dtds/sun-application-client-container_1_1.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-application-client-container_1_1.dtd" />
            
            
            <public publicId="-//Sun Microsystems Inc.//DTD Application Server 8.0 Domain//EN"
                    uri="dtds/sun-domain_1_1.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-domain_1_1.dtd" />
            
            
            <public publicId="-//Sun Microsystems Inc.//DTD Application Server 8.1 Domain//EN"
                    uri="dtds/sun-domain_1_1.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-domain_1_1.dtd" />
            
            
            <public publicId="-//Sun Microsystems Inc.//DTD Application Server 9.0 Domain//EN"
                    uri="dtds/sun-domain_1_2.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-domain_1_2.dtd" />
            
            <public publicId="-//Sun Microsystems Inc.//DTD Application Server 9.1 Domain//EN"
                    uri="dtds/sun-domain_1_3.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-domain_1_3.dtd" />
            
            <public publicId="-//Sun Microsystems Inc.//DTD Application Server 9.1.1 Domain//EN"
                    uri="dtds/sun-domain_1_4.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-domain_1_4.dtd" />
            
            <public publicId="-//Sun Microsystems Inc.//DTD GlassFish Communications Server 1.5 Domain//EN"
                    uri="dtds/sun-domain_1_5.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-domain_1_5.dtd" />

            <public publicId="-//Java Community Process//DTD SIP Application 1.0//ENN"
                    uri="dtds/sip-app_1_0.dtd"
                    webURL="http://www.jcp.org/dtd/sip-app_1_0.dtd" />
                           
            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 9.0 SIP Servlet 1.1//EN"
                    uri="dtds/sun-sip-app_1_1-0.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-sip-app_1_1-0.dtd" />
            
            <public publicId="-//Sun Microsystems Inc.//DTD Sailfin 1.0//EN"
                    uri="dtds/sun-data-centric-rule_1_0.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-data-centric-rule_1_0.dtd" />
            
            <public publicId="-//Sun Microsystems Inc.//DTD Sun Java System Application Server 9.1//EN"
                    uri="dtds/sun-converged-loadbalancer_1_0.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-converged-loadbalancer_1_0.dtd" />

            <public publicId="-//Sun Microsystems, Inc.//DTD Application Server 9.0 Resource Definitions //EN"
                    uri="dtds/sun-resources_1_3.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-resources_1_3.dtd" />

            <public publicId="-//Sun Microsystems, Inc.//DTD GlassFish Application Server 3.0 Resource Definitions //EN"
                    uri="dtds/sun-resources_1_4.dtd"
                    webURL="http://www.sun.com/software/appserver/dtds/sun-resources_1_4.dtd" />

                    
            <public publicId="-//GlassFish.org//DTD GlassFish Application Server 3.1 Servlet 3.0//EN"
                    uri="dtds/glassfish-web-app_3_0-1.dtd"
                    webURL="http://glassfish.org/dtds/glassfish-web-app_3_0-1.dtd" />
                    
            <public publicId="-//GlassFish.org//DTD GlassFish Application Server 3.1 Resource Definitions//EN"
                    uri="dtds/glassfish-resources_1_5.dtd"
                    webURL="http://glassfish.org/dtds/glassfish-resources_1_5.dtd" />
                    
            <public publicId="-//GlassFish.org//DTD GlassFish Application Server 3.1 EJB 3.1//EN"
                    uri="dtds/glassfish-ejb-jar_3_1-1.dtd"
                    webURL="http://glassfish.org/dtds/glassfish-ejb-jar_3_1-1.dtd" />
                    
            <public publicId="-//GlassFish.org//DTD GlassFish Application Server 3.1 Java EE Application 6.0//EN"
                    uri="dtds/glassfish-application_6_0-1.dtd"
                    webURL="http://glassfish.org/dtds/glassfish-application_6_0-1.dtd" />
                    
            <public publicId="-//GlassFish.org//DTD GlassFish Application Server 3.1 Java EE Application Client 6.0//EN"
                    uri="dtds/glassfish-application-client_6_0-1.dtd"
                    webURL="http://glassfish.org/dtds/glassfish-application-client_6_0-1.dtd" />
                    
        </catalogContribution>
    </extension> 
    
    
    <extension point="org.eclipse.ui.preferenceTransfer">
    </extension>
    
    <extension point="org.eclipse.core.runtime.preferences">
        <initializer
             class="org.eclipse.payara.tools.preferences.PreferenceInitializer">
        </initializer>
    </extension>

    
    <extension point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.eclipse.payara.tools.handlers.PayaraStateTester"
           id="org.eclipse.payara.tools.PayaraStateTester"
           namespace="org.eclipse.payara.tools"
           properties="isRunning,isRemote"
           type="org.eclipse.wst.server.core.IServer">
     </propertyTester>
     <propertyTester
           class="org.eclipse.payara.tools.handlers.PayaraVersionTester"
           id="org.eclipse.payara.tools.PayaraVersionTester"
           namespace="org.eclipse.payara.tools"
           properties="v3Test"
           type="org.eclipse.wst.server.core.IServer">
     </propertyTester>
  </extension>

  <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
      id="org.eclipse.payara.tools.internal.ContainsRuntimeComponentTypeForRuntime"
      type="org.eclipse.wst.common.project.facet.core.runtime.IRuntime"
      namespace="org.eclipse.payara.tools"
      properties="containsRuntimeComponentType"
      class="org.eclipse.payara.tools.internal.ContainsRuntimeComponentType">
    </propertyTester>
    <propertyTester
      id="org.eclipse.payara.tools.internal.ContainsRuntimeComponentTypeForCollection"
      type="java.util.Collection"
      namespace="org.eclipse.payara.tools"
      properties="containsRuntimeComponentType"
      class="org.eclipse.payara.tools.internal.ContainsRuntimeComponentType">
    </propertyTester>
  </extension>


  <extension point="org.eclipse.core.expressions.definitions">
      <definition
          id="org.eclipse.payara.tools.oneGlassfishSelected">
          <and>
              <count value="1"/>
              <iterate ifEmpty="false">
                  <or>
                      <reference definitionId="org.eclipse.payara.tools.isGlassfish"/>
                  </or>
              </iterate>
          </and>
      </definition>
     
      <definition id="org.eclipse.payara.tools.isGlassfish">
          <adapt type="org.eclipse.wst.server.core.IServer">
              <and>
                  <test
                      property="org.eclipse.wst.server.ui.serverType"
                      value="payara.server">
                  </test>
              </and>
          </adapt>
      </definition>
     
     <definition id="org.eclipse.payara.tools.moreGlassfishSelected">
         <iterate ifEmpty="false">
             <or>
                 <reference definitionId="org.eclipse.payara.tools.isGlassfish"/>
             </or>
         </iterate>
     </definition>
     
     <definition id="org.eclipse.payara.tools.oneRunningGlassfishSelected">
         <and>
             <count value="1"/>
             <iterate ifEmpty="false">
                 <and>
                     <or>
                         <reference definitionId="org.eclipse.payara.tools.isGlassfish"/>
                     </or>
                     <test property="org.eclipse.payara.tools.isRunning"/>
                 </and>
             </iterate>     
         </and>
     </definition>
     
     <definition id="org.eclipse.payara.tools.isRemoteGlassfish">
         <and>
             <count value="1"/>
             <iterate ifEmpty="false">
                 <and>
                     <or>
                         <reference definitionId="org.eclipse.payara.tools.isGlassfish"/>
                     </or>
                     <test property="org.eclipse.payara.tools.isRemote"/>
                 </and>
             </iterate>     
         </and>
     </definition>
  </extension>


</plugin>
