<% /* This Content is provided under the terms and conditions of the Eclipse Public License Version 1.0 
("EPL"). A copy of the EPL is available at http://www.eclipse.org/org/documents/epl-v10.php 
For purposes of the EPL, "Program" will mean the Content. 

Copied from org.eclipse.jst.j2ee.ejb plugin. */ %>
<% 
	Collection<String> imports = model.getImports();
	for (String anImport : imports) { 
%>
import <%= anImport %>;
<% 
	}
%>

