<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 
    
    <!--
        This wizard fragment plugs-in the wizard flow when Servers - New Server - Payara -> Payara
        is selected and subsequently the next button is pressed when no runtime exists yet,  
        or the add button next to Server runtime environment is pressed.
     -->
    <extension point="org.eclipse.wst.server.ui.wizardFragments">
       <fragment
             id="fish.payara.NewPayaraRuntimeWizardFragment"
             class="org.eclipse.payara.tools.ui.wizards.NewPayaraRuntimeWizardFragment"
             typeIds="payara.runtime">
       </fragment>
       <fragment
             id="fish.payara.NewPayaraServerWizardFragment"
             class="org.eclipse.payara.tools.ui.wizards.NewPayaraServerWizardFragment"
             typeIds="payara.server">
       </fragment>
    </extension>
    
    
    <!--
        The images associated with the Payara runtime and server
    -->
    <extension point="org.eclipse.wst.server.ui.serverImages">
       <image
             id="org.eclipse.jst.server.glassfish.image"
       		 typeIds="payara.runtime,payara.server"
             icon="icons/obj16/payara-blue.png">
       </image>
    </extension>
    
    <extension point="org.eclipse.wst.common.project.facet.ui.images">
       <image
             path="icons/obj16/payara-blue.png"
             runtime-component-type="payara.runtime">
       </image>
    </extension>
    
    
    <extension point="org.eclipse.wst.server.core.runtimeLocators">
        <runtimeLocator
            id="org.eclipse.payara.tools"
            class="org.eclipse.payara.tools.ui.internal.PayaraRuntimeLocatorDelegate"
            typeIds="payara.runtime"/>
    </extension> 
    
    
    <!--
        The label associated with the Payara runtime, i.e. "Payara 5.181" (this may be unused?)
    -->
    <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
        <adapter>
            <runtime-component id="payara.runtime"/>
            <factory class="org.eclipse.payara.tools.ui.internal.PayaraRuntimeComponentLabelProviderFactory"/>
            <type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider"/>
        </adapter>
    </extension>
    
    
    <!-- 
        The global preferenes for all Payara server instances in Eclipse menu - preferences - Payara Preferences 
    -->
    <extension point="org.eclipse.ui.preferencePages">
       <page
             id="org.eclipse.payara.tools.preferences.GlassFishPreferencePage"
             class="org.eclipse.payara.tools.ui.preferences.GlassFishPreferencePage"
             name="Payara Preferences">
       </page>
    </extension>
    
    
    <!-- 
        The launch configuration that's shown when the "Open Launch Configuration" is clicked on e.g. the "Server Editor",
        which is the editor being opened when a server in the Servers view is double clicked. 
    -->
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
       <launchConfigurationTabGroup
             id="org.payara.jst.server.launchConfigurationTabGroup"
             class="org.eclipse.payara.tools.ui.editorsections.LaunchConfigurationTabGroup"
             type="org.payara.jst.server.GlassfishServerLaunchConfigurationType">
       </launchConfigurationTabGroup>
    </extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage 
             id="org.eclipse.payara.tools.ui.launchConfigurationTypeImage"
             configTypeID="org.payara.jst.server.GlassfishServerLaunchConfigurationType"
             icon="icons/obj16/payara-blue.png">
       </launchConfigurationTypeImage>
    </extension>

   
    <!--
        This contributes content to the "Server Editor", which is the editor that opens when you double click
        the Payara / GlassFish server in the Servers views. The content itself is a link to the properties page.
    -->
    <extension point="org.eclipse.wst.server.ui.editorPageSections">
       <section
       		 id="org.eclipse.payara.tools.ServerSection"
             class="org.eclipse.payara.tools.ui.editorsections.ServerSection"
             typeIds="payara.server"
             insertionId="org.eclipse.wst.server.editor.overview.left"
             order="10">
       </section>
    </extension>
    
    
    <!-- 
        Menu entries that are being shown for the Payara / GlassFish server when e.g. the server is right clicked
        in the Servers view and "Payara" is chosen from the context menu  
    -->
    
    <!-- 1. Definitions of commands for the menu entries -->
    
    <extension point="org.eclipse.ui.commands">
        <category
              id="org.eclipse.payara.tools.commands.category"
              name="glassfish-commands">
        </category>
        
        <command
              id="org.eclipse.payara.tools.commands.ViewLogCommand"
              name="%menu.viewlogfile"
              description="%menu.viewlogfile">
        </command>
        <command
              id="org.eclipse.payara.tools.commands.ViewAdminConsoleCommand"
              name="%menu.viewadminconsole"
              description="%menu.viewadminconsole">
        </command>
        <command
              id="org.eclipse.payara.tools.commands.OpenUrlCommand"
              name="OpenUrlCommand">
           <commandParameter
                 id="org.eclipse.payara.tools.commands.urlParam"
                 name="url"
                 optional="false">
           </commandParameter>
        </command>
        <command
              id="org.eclipse.payara.tools.commands.OpenServerHomeCommand"
              name="OpenServerHomeCommand">
        </command>
        <command
              id="org.eclipse.payara.tools.commands.OpenDomainHomeCommand"
              name="OpenDomainHomeCommand">
        </command>
     </extension>
     
     <!-- 2. Handlers corresponding to the commands defined above  -->
 
	 <extension point="org.eclipse.ui.handlers">
		<handler
		      class="org.eclipse.payara.tools.handlers.ViewLogHandler"
	          commandId="org.eclipse.payara.tools.commands.ViewLogCommand">
	        <enabledWhen>
				<or>
					<not>
						<reference definitionId="org.eclipse.payara.tools.isRemoteGlassfish"/>
					</not>
					<reference definitionId="org.eclipse.payara.tools.oneRunningGlassfishSelected"/>
				</or>
			</enabledWhen>
		</handler>
     
		<handler 
             commandId="org.eclipse.payara.tools.commands.ViewAdminConsoleCommand"
		     class="org.eclipse.payara.tools.handlers.ViewAdminConsoleHandler"
		      >
			  <enabledWhen>
		   		<reference definitionId="org.eclipse.payara.tools.oneRunningGlassfishSelected"/>
			  </enabledWhen>
		 </handler>
		   
		<handler
		   commandId="org.eclipse.payara.tools.commands.OpenUrlCommand"
           class="org.eclipse.payara.tools.handlers.ShowURLHandler">
        </handler>
		   
		<handler
            commandId="org.eclipse.payara.tools.commands.OpenServerHomeCommand"
		    class="org.eclipse.payara.tools.handlers.OpenServerHomeHandler"
		   >
			 <enabledWhen>
			 	<reference definitionId="org.eclipse.payara.tools.oneGlassfishSelected"/>
			 </enabledWhen>  
		 </handler>
		 
		 <handler 
		     commandId="org.eclipse.payara.tools.commands.OpenDomainHomeCommand"
		     class="org.eclipse.payara.tools.handlers.OpenDomainHomeHandler"
		   >
			<enabledWhen>
        			<and>
	 				<not>    
	           			<reference definitionId="org.eclipse.payara.tools.isRemoteGlassfish"/>
           			</not>
           			<reference definitionId="org.eclipse.payara.tools.oneGlassfishSelected"/>
           		</and>
        		</enabledWhen>
     	</handler>
    </extension>

    <!-- 3. Definitions of the menu entries putting the above defined commands in -->
    
    <extension point="org.eclipse.ui.menus">
        <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.wst.server.ui.ServersView?after=additions">
            <menu
              id="org.eclipse.payara.tools.actions.subMenu"
              icon="icons/obj16/payara-blue.png"
              label="%menu.payaratopmenu">
           <separator name="group1"/>
           <visibleWhen checkEnabled="false">
              <reference definitionId="org.eclipse.payara.tools.moreGlassfishSelected"/>
           </visibleWhen>
           
           <command
                 commandId="org.eclipse.payara.tools.commands.ViewAdminConsoleCommand"
                 icon="icons/obj16/payara-blue.png"
                 style="push">
           </command>
           <command
                 commandId="org.eclipse.payara.tools.commands.ViewLogCommand"
                 icon="icons/obj16/logfile.png"
                 style="push">
           </command>
           <command
                 commandId="org.eclipse.payara.tools.commands.OpenServerHomeCommand"
                 icon="icons/obj16/folder_open.png"
                 label="%menu.openserverhome"
                 style="push">
              <visibleWhen checkEnabled="false">
                 <reference definitionId="org.eclipse.payara.tools.oneGlassfishSelected"/>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.payara.tools.commands.OpenDomainHomeCommand"
                 icon="icons/obj16/folder_open.png"
                 label="%menu.opendomainhome"
                 style="push">
           </command>
        </menu>
        </menuContribution>
    </extension>
 
	
  
  
    <!-- 
        Properties that are being shown for the Payara / GlassFish server when e.g. the server is right clicked
        in the Servers view and "Properties" is chosen from the context menu 
    -->
    <extension point="org.eclipse.ui.propertyPages">
        <page
           id="org.eclipse.payara.tools.ui.server.properties.payara"
           name="Payara"
           class="org.eclipse.payara.tools.ui.properties.ServerPropertyPage">
           <enabledWhen>
               <and>
                    <adapt type="org.eclipse.wst.server.core.IServer" />
                    <reference definitionId="org.eclipse.payara.tools.isGlassfish"/>
               </and>
           </enabledWhen>
       </page>  
    </extension>
    
    
    <extension point="org.eclipse.jdt.ui.classpathContainerPage">
        <classpathContainerPage
            id="org.eclipse.payara.tools.lib.system"
            name="Payara properties"
            class="org.eclipse.payara.tools.ui.properties.ClasspathContainerPage">
        </classpathContainerPage>
    </extension>
    
    
    <!--
        This provides the dynamic nodes; the tree nodes that are inserted underneath 
        a running Payara / GlassFish server node in the Servers view. 
    -->
    <extension point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding viewerId="org.eclipse.wst.server.ui.ServersView">
          <includes>
          	<contentExtension pattern="payara.serverview.contentprovider"/>
          </includes>
       </viewerContentBinding>
       
       <viewerActionBinding viewerId="org.eclipse.wst.server.ui.ServersView">
			<includes>
				<actionExtension pattern="org.eclipse.payara.tools.ui.serverview.ServerModuleActionProvider" />
			</includes>
		</viewerActionBinding>
    </extension>
    
    <extension point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
             id="payara.serverview.contentprovider"
             contentProvider="org.eclipse.payara.tools.ui.serverview.ServerViewDynamicNodeProvider"
             labelProvider="org.eclipse.payara.tools.ui.serverview.ServerViewLabelProvider"
             name="Payara Management Nodes"
             icon="icons/obj16/payara-blue.png"
             activeByDefault="true"
             priority="highest">
          <triggerPoints>
                <instanceof value="org.eclipse.wst.server.core.IServer"/>
          </triggerPoints>
          <possibleChildren>
                <instanceof value="org.eclipse.payara.tools.ui.serverview.dynamicnodes.TreeNode"/>
          </possibleChildren>
          
          <!-- This adds for example the "unregister" action when you right click on a resource such as a JDBC data source -->
          <actionProvider
                id="org.eclipse.payara.tools.ui.serverview.ServerViewActionProvider"
                class="org.eclipse.payara.tools.ui.serverview.ServerViewActionProvider"
                priority="highest">
             <enablement>
                <or>
                   <instanceof value="org.eclipse.wst.server.core.IServer"/>
                   <instanceof value="org.eclipse.payara.tools.ui.serverview.dynamicnodes.TreeNode"/>
                   <adapt type="java.util.Collection"><count value="0"/></adapt>
                </or>
             </enablement>
          </actionProvider>
       </navigatorContent>
       
       <actionProvider
       		id="org.eclipse.payara.tools.ui.serverview.ServerModuleActionProvider"
			class="org.eclipse.payara.tools.ui.serverview.ServerModuleActionProvider"
			dependsOn="org.eclipse.wst.server.ui.ServersView.ServerActionProvider"
			priority="higher">
			<enablement>
			    <or>
					<instanceof value="org.eclipse.wst.server.core.IServer">
					</instanceof>
					<instanceof
						value="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
					</instanceof>
				</or>
			</enablement>
		</actionProvider>
       
       <commonWizard
             menuGroupId="org.eclipse.payara.tools.v3.wizards"
             type="new"
             wizardId="org.eclipse.payara.tools.v3.wizards.AddGenericResourceWizard">
          <enablement>
             <adapt type="org.eclipse.core.resources.IResource">
                <test
                      property="org.eclipse.wst.common.project.facet.core.projectFacet"
                      value="glassfish.web">
                </test>
             </adapt>
          </enablement>
       </commonWizard>
    </extension>
  
  
    <!-- 
        This adds hyper links to the console that shows Payara's server logging 
    -->
    <extension point="org.eclipse.ui.console.consolePageParticipants">
       <consolePageParticipant
             id="org.eclipse.payara.tools.log.PayaraLogPageParticipant"
             class="org.eclipse.payara.tools.ui.log.PayaraLogPageParticipant">
          <enablement>
             <instanceof value="org.eclipse.payara.tools.log.PayaraConsole"/>
          </enablement>
       </consolePageParticipant>
    </extension>
    
    <extension point="org.eclipse.ui.console.consolePatternMatchListeners">
        <consolePatternMatchListener
           id="org.eclipse.payara.tools.ui.consolePatternMatchListener"
           class="org.eclipse.payara.tools.ui.log.PayaraConsoleTracker"
           qualifier="${java_extensions_regex}"
           regex="\(\S*${java_extensions_regex}\S*\)">
        <enablement></enablement>
        </consolePatternMatchListener>
    </extension> 

    <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="org.eclipse.jst.j2ee.J2EEPerspective">
            <newWizardShortcut id="org.eclipse.payara.tools.v3.wizards.AddGenericResourceWizard"/>
        </perspectiveExtension>
    </extension>
  
    <extension point="org.eclipse.ui.newWizards">
       <category
             id="org.eclipse.payara.tools"
             name="%sunappserver.wizardcategory">
       </category>
       <wizard
             id="org.eclipse.payara.tools.ui.resources.wizards.JDBCWizard"
             category="org.eclipse.payara.tools"
             class="org.eclipse.payara.tools.ui.resources.wizards.JDBCWizard"
             icon="icons/obj16/payara-blue.png"
             name="%sunappserver.sunresourceslabel">
          <description>
             %sunappserver.sunresources.BeanWebRegionWizard.description
          </description>
          <selection
                class="org.eclipse.core.resources.IResource">
          </selection>
       </wizard>
       <wizard
             id="org.eclipse.payara.tools.ui.resources.wizards.MailWizard"
             category="org.eclipse.payara.tools"
             class="org.eclipse.payara.tools.ui.resources.wizards.MailWizard"
             icon="icons/obj16/payara-blue.png"
             name="%sunappserver.mailresourceslabel">
          <description>
             %sunappserver.mailresources.BeanWebRegionWizard.description
          </description>
          <selection
                class="org.eclipse.core.resources.IResource">
          </selection>
       </wizard>
       <wizard
             id="org.eclipse.payara.tools.ui.resources.wizards.JMSWizard"
             category="org.eclipse.payara.tools"
             class="org.eclipse.payara.tools.ui.resources.wizards.JMSWizard"
             icon="icons/obj16/payara-blue.png"
             name="%sunappserver.jmsresourceslabel">
          <description>
             %sunappserver.jmsresources.BeanWebRegionWizard.description
          </description>
          <selection
                class="org.eclipse.core.resources.IResource">
          </selection>
       </wizard>
       <wizard
             id="org.eclipse.payara.tools.v3.wizards.AddGenericResourceWizard"
             category="org.eclipse.payara.tools"
             class="org.eclipse.payara.tools.ui.rest.wizards.AddGenericResourceWizard"
             icon="icons/obj16/payara-blue.png"
             name="%sunappserver.restfulfrompatternlabel">
          <description>
             %sunappserver.restfulfrompattern.BeanWebRegionWizard.description
          </description>
       </wizard>
    </extension>
 
  
    <extension point="org.eclipse.jst.common.project.facet.ui.libraryProviderActionPanels">
       <panel
             class="org.eclipse.payara.tools.ui.internal.JAXRSActionPanels"
             provider="org.eclipse.payara.tools.jaxrsLibraryproviderID">
       </panel>
    </extension>

</plugin>
