<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        point="org.eclipse.debug.core.processFactories">
        <processFactory
            class="fish.payara.eclipse.micro.MicroRuntimeProcessFactory"
            id="fish.payara.eclipse.micro.processFactory">
        </processFactory>
    </extension>
    <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
            id="fish.payara.eclipse.micro.launchConfigurationType"
            name="%payara.micro.runConfigurationName"
            delegate="fish.payara.eclipse.micro.MicroLaunchDelegate"
            modes="run, debug"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jst.server.generic.core.sourcePathComputer"/>
    </extension>
    <extension
        point="org.eclipse.ui.newWizards">
        <category
            id="fish.payara.eclipse.tools"
            name="%payara.wizardcategory">
        </category>
        <wizard
            category="fish.payara.eclipse.tools"
            class="fish.payara.eclipse.micro.ui.wizards.MicroProjectWizard"
            icon="icons/payara-micro.png"
            id="fish.payara.eclipse.micro.ui.wizards.createProject"
            name="%payara.micro.project.wizard.title"
            project="true">
            <description>
                %payara.micro.project.wizard.description
            </description>
        </wizard>
    </extension>
    
    <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
            class="fish.payara.eclipse.micro.ui.MicroLaunchConfigurationTabGroup"
            id="fish.payara.eclipse.micro.ui.launchConfigurationTabGroup"
            type="fish.payara.eclipse.micro.launchConfigurationType">
        </launchConfigurationTabGroup>
    </extension>
    
    <extension
        point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage
            configTypeID="fish.payara.eclipse.micro.launchConfigurationType"
            icon="icons/payara-micro.png"
            id="fish.payara.eclipse.micro.ui.launchConfigurationTypeImage">
        </launchConfigurationTypeImage>
    </extension>

</plugin>
